pystray==0.19.4
pynput~=1.7.6
sv-ttk==2.4.5
mmk-updater==0.14.3

pybluez-edge==2022.12.6

Pillow~=10.2.0
psutil~=5.9.8

PyGObject==3.44.1; sys_platform == "linux"
dbus-python==1.3.2; sys_platform == "linux"

pyinstaller==5.12.0; sys_platform == "win32"
winsdk==1.0.0b7; sys_platform == "win32"
