mtrayapp==1.0.2
pynput~=1.7.6
sv-ttk==2.4
pybluez-edge==2022.12.6
mmk-updater==0.13.1

Pillow~=9.3.0

PyGObject==3.42.2; sys_platform == "linux"
dbus-python==1.3.2; sys_platform == "linux"

pyinstaller==5.7.0; sys_platform == "win32"
winsdk==1.0.0b7; sys_platform == "win32"
