#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_build:
	poetry run just build

override_dh_auto_install:
	DESTDIR=${PWD}/debian/openfreebuds/usr PYTHONLIBDIR=${PWD}/debian/openfreebuds/usr/lib/python3/dist-packages poetry run just install

override_dh_clean:
	git clean -xfd -e accent.json
