#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_build:
	python ./scripts/make.py build

override_dh_auto_install:
	python3 ./scripts/make.py install debian/openfreebuds/usr debian/openfreebuds/usr/lib/python3/dist-packages

override_dh_clean:
	git clean -xfd -e accent.json
