[Desktop Entry]
Version=1.1
Type=Application
Name=Openfreebuds
Comment=HUAWEI Freebuds manager
Icon=/usr/lib/python3/dist-packages/openfreebuds_qt/assets/icon.png
Exec=/usr/bin/openfreebuds_qt
Actions=
Categories=Utility;
